div {
  text-align: left;
}

.align_center {
  text-align: center;
}

.todo_button {
  font-size: 20px;
  margin: 20px;
  background-color: bisque;
}

.todo_border {
  border: 5px solid palegreen;
}

.todo_border .todo_list {
  border: 5px solid palegreen;
  float: left;
  width: 45%;
}

.todo_border .todo_done_list {
  border: 5px solid palegreen;
  float: right;
  width: 45%;
}
